.PvP {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.PvP__board {
	display: flex;
	gap: 40px;
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.PvP__board_card-placer {
	position: relative; /* ต้องใช้ relative เพื่อให้ลูก absolute ยึดตำแหน่งจากพ่อ */
	width: 170px;
	height: 270px;
	gap: 40px;
	z-index: 1;
}

.PvP__board_card-placer > * {
	position: absolute;
	top: 50%;
	left: 50%;
	width: fit-content;
	height: fit-content;
	transform: translate(-50%, -50%); /* ให้ซ้อนตรงกลาง */
	z-index: 2;
}

.PvP__player {
	position: absolute;
}

.PvP__player_hand {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
	display: inline-flex;
	align-items: center;
	perspective: 1000px;
	overflow: visible;
}

.PvP__opoonent_hand {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0%);
	display: inline-flex;
	align-items: center;
	perspective: 1000px;
	overflow: visible;
}

.hand > div {
	transition: transform 0.3s ease;
}

/* เพิ่มชั้นใหม่เพื่อใส่ hover effect */
.card-wrapper {
	transition: transform 0.3s ease;
}

.card-wrapper:hover {
	transform: scale(1.1);
	z-index: 10;
}
.PvP__board-player {
	position: fixed; /* ติดกับ viewport */
	bottom: 0; /* ติดล่าง */
	left: 0; /* ติดซ้าย */
	width: 100%; /* กว้างเต็ม */
	display: flex;
	justify-content: space-between;
	z-index: 999; /* ให้อยู่บนสุด */
	padding: 0px 10px 0px 10px; /* เพิ่มช่องว่างข้างในนิดหน่อย */
	box-sizing: border-box;
}
.PvP__board-opponent {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 999;
	padding: 0px 10px 0px 10px;
	box-sizing: border-box;
	/* transform: rotate(180deg); */
}

.PvP-win {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.PvP-win__body {
	display: flex;
	flex-direction: row;
	height: 100vh;
	gap: 128px;
	padding: 128px;
	align-items: center;
}

.PvP-win__body_menu {
	display: flex;
	flex-direction: column;
	background-color: rgba(20, 20, 20, 0.5);
	gap: 128px;
	padding: 64px;
	border-radius: 16px;
	box-sizing: border-box;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.PvP-win__body_menu_button {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 16px;
}

.PvP-win__body_header {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 64px;
	justify-content: center;

	align-items: center;
}

.PvP-win__body_detail_exp-and-gold {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(20, 20, 20, 0.5);
	padding: 16px;
	border-radius: 16px;
	height: fit-content;
	gap: 8px;
}

.PvP-win__body_detail_exp-and-gold_exp,
.PvP-win__body_detail_exp-and-gold_gold {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.PvP-win__body_detail_exp-and-gold_exp_gain,
.PvP-win__body_detail_exp-and-gold_gold_gain {
	display: flex;
	padding: 16px;
	border-radius: 16px;
	background-color: rgba(20, 20, 20, 0.5);
	width: 64px;
	box-sizing: border-box;
	
}

.PvP-win__body_detail_exp-and-gold_exp_gain {
	background-color: rgba(140, 140, 70);
}
.PvP-win__body_detail_exp-and-gold_gold_gain {
	background-color: rgba(140, 70, 140);
}

.PvP-win__body_detail_header {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 64px;
	justify-content: center;
	align-items: center;
}

.PvP-Loading {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.PvP-Loading__body {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 128px;
	gap: 64px;
	justify-content: center;
	align-items: center;
}

.PvP-Loading__body_text {
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-family: "MOON_Light";
	src: url("./fonts/MOON_Light.otf") format("opentype");
	align-items: center;
}

.PvP-Loading__body_text_header {
	display: flex;
	align-items: center;
	gap: 16px;
}

.PvP-Loading__body_text_header_lobby-ID {
	font-family: "MOON_Bold";
	src: url("./fonts/MOON_Bold.otf") format("opentype");
	display: flex;
	box-sizing: border-box;
	color: white;
	height: 40px;
	padding-left: 32px;
	padding-right: 32px;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	transition: background-color 0.4s ease, border-color 0.2s ease;
}

.PvP__player_deck {
	position: absolute;
	bottom: 16px;
	right: 16px;
}

.PvP__opoonent_deck {
	position: absolute;
	top: 16px;
	left: 16px;
}

.PvP__player_status {
	position: absolute;
	bottom: 16px;
	left: 16px;
}

.PvP__opponent_status {
	position: absolute;
	top: 16px;
	right: 16px;
}

.PvP-win__body_detail {
	display: flex;
	flex-direction: row;
	flex: 1;
	align-items: center;
}
