.EnemyBattle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.EnemyBattle__arena {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 40);
  /* position: absolute; */
}

.EnemyBattle__board {
  display: flex;
  gap: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.EnemyBattle__board_card-placer {
  position: relative; /* ต้องใช้ relative เพื่อให้ลูก absolute ยึดตำแหน่งจากพ่อ */
  width: 170px;
  height: 270px;
  gap: 40px;
  z-index: 1;
}

.EnemyBattle__board_card-placer > * {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%); /* ให้ซ้อนตรงกลาง */
  z-index: 2;
}


.EnemyBattle__hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* ให้คลิกทะลุถ้าไม่อยากให้แถบ HUD บังคลิก */
  z-index: 9999; /* อยู่บนสุด */
}

.EnemyBattle__enemy-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(30, 30, 30, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* ถ้าต้องการให้คลิกได้ */
  z-index: 1000;
  color: white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25); /* เบสิคมากๆ */

}

.EnemyBattle__player-bar,.EnemyBattle__enemy-bar {
  position: fixed;
  width: 100%;
  height: 40px;
  background: rgba(30, 30, 30, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  z-index: 1000;
  color: white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25); /* เบสิคมากๆ */

}

.EnemyBattle__player-bar {
  bottom: 0;
}

.EnemyBattle__enemy-bar {
  top: 0;
}

.hand {
  display: inline-flex;
  align-items: center;
  perspective: 1000px;
  overflow: visible;
}

.hand > div {
  transition: transform 0.3s ease;
}

/* เพิ่มชั้นใหม่เพื่อใส่ hover effect */
.card-wrapper {
  transition: transform 0.3s ease;
}

.card-wrapper:hover {
  transform: scale(1.1);
  z-index: 10;
}
.EnemyBattle__board-player {
  position: fixed;   /* ติดกับ viewport */
  bottom: 0;         /* ติดล่าง */
  left: 0;           /* ติดซ้าย */
  width: 100%;       /* กว้างเต็ม */
  display: flex;
  justify-content: space-between;
  z-index: 999;     /* ให้อยู่บนสุด */
  padding: 0px 10px 0px 10px;     /* เพิ่มช่องว่างข้างในนิดหน่อย */
  box-sizing: border-box;
}
.EnemyBattle__board-enemy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  padding: 0px 10px 0px 10px;  
  box-sizing: border-box;
  /* transform: rotate(180deg); */
}

